extends layouts/app

block seo
    Title= title

block content
    .card-header
        h1= h1

    .card-body
        form(action=`/editRecord/${id}` method="POST")
            .form-group
                label(for='name') Name
                input#workerName.form-control.mb-4(type='text' name='name' value=`${name}` required)
            .form-group
                label(for='trade') Trade
                select.custom-select(name='trade')
                    option(selected='') Select Trade
                    option(name='Laborer' value='1') Laborer
                    option(name='Scaffolder' value='2') Scaffolder
                    option(name='Helper' value='3') Helper
                    option(name='Boiler Maker' value='4') Boiler Maker
                    option(name='Electrician' value='5') Electrician
                    option(name='Pipe Fitter' value='6') Pipe Fitter
                    option(name='Welder' value='7') Welder

            .form-group
                label(for='workerNumber') Phone Number
                input#workerNumber.form-control.mb-4(type='tel' name='phone_no' value=`${phone_no}` required)
            button.btn.btn-primary(type='submit') Submit
        
    block script
